.navbar {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 28px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 25px; 
    font-weight: bold;
    color: #1F2937; 
    text-decoration: none;
    margin-bottom: 15px;
}

.nav-links {
    display: none;
    
    
}

@media (min-width: 768px) {
    .nav-links {
      display: flex;
      gap: 2rem;
     
    }
}


.nav-link {
    color: #4B5563; 
    font-size: 19px;
    text-decoration: none;
    transition: color 0.3s;
    margin-bottom: 10px;
}

.nav-link:hover {
    color: #111827; 
}


.actions {
    display: flex;
    align-items: center;
    gap: 1rem; 
}
  
.icon-button {
    background: none;
    border: none;
    color: #4B5563;
    cursor: pointer;
    transition: color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    height: 37px;

}

.text{
    font-size: 14px;
    margin-bottom: 10px;
    display: inline;
}
  
.icon-button:hover {
    color: #111827;
    background-color: rgb(112, 121, 251);
}


  
.mobile-menu-button {
    background: none;
    border: none;
    color: #4B5563;
    cursor: pointer;
    transition: color 0.3s;
    display: none;
    margin-bottom: 10px;
}
  
.mobile-menu-button:hover {
    color: #111827;
}
  
.icon {
    height: 20px; 
    width: 20px; 
    
}

.mobile-menu {
    display: none; 
    margin-top: 12px; 
    padding-bottom: 12px; 
    gap: 12px; 

    position: absolute;
    top: 70px; /* Adjust this based on your navbar height */
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000; /* Make sure it’s above other content */
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.mobile-menu.open {
    display: block;
}
  
.mobile-link {
    display: block;
    margin-top: 20px;
    color: #4B5563; 
    text-decoration: none;
    transition: color 0.3s;
}
  
.mobile-link:hover {
    color: #111827; 
}


@media (max-width: 767px) {
    .mobile-menu {
        display: none; 
    }
    .mobile-menu.open {
        display: block; 
    }
    .mobile-menu-button {
        display: block; 
    }
    .text {
        display: none;
    }
}
  